<!DOCTYPE html>
{%extends 'base.html'%}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" href="{% static 'css/ipo.css' %}">
</head>
<body>
{% block baseblock %}



<h1 align="center">WELCOME TO LIC</h1>


<br>
<br>
<img src="{%static 'images/liclogo.png'%}" class="center" style="border: 1px solid #ddd;border-radius: 6px;padding: 5px;width: 500px;display: block;
  margin-left: auto;
  margin-right: auto;">

{%endblock%}
</body>
</html>